In [1]:
import pandas as pd

In [2]:
reviews = pd.read_csv("./Reviews.csv")
#print(type(reviews_df))
reviews_df = pd.DataFrame(reviews)

In [3]:
listings = pd.read_csv("./Listings.csv")
low_memory=False
listings_df = pd.DataFrame(listings)

C:\Users\Dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
reviews_df.head()

   listing_id  review_id        date  reviewer_id
0       11798  330265172  2018-09-30     11863072
1       15383  330103585  2018-09-30     39147453
2       16455  329985788  2018-09-30      1125378
3       17919  330016899  2018-09-30    172717984
4       26827  329995638  2018-09-30     17542859

In [5]:
listings_df.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÂ² Paris (Sacre CÅ“ur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

## Create listing_info and listing_review_stats dataframes

In [6]:
#extract the data for the listing_info table from listings_df
listings_info = listings_df[["listing_id", "host_id", "name", "host_since", "host_location", "minimum_nights",
                           "maximum_nights", "instant_bookable"]]
listings_info.head()

,listing_id,host_id,name,host_since,host_location,minimum_nights,maximum_nights,instant_bookable
0,281420,1466919,"Beautiful Flat in le Village Montmartre, Paris",2011-12-03,"Paris, Ile-de-France, France",2,1125,f
1,3705183,10328771,39 mÂ² Paris (Sacre CÅ“ur),2013-11-29,"Paris, Ile-de-France, France",2,1125,f
2,4082273,19252768,"Lovely apartment with Terrace, 60m2",2014-07-31,"Paris, Ile-de-France, France",2,1125,f
3,4797344,10668311,Cosy studio (close to Eiffel tower),2013-12-17,"Paris, Ile-de-France, France",2,1125,f
4,4823489,24837558,Close to Eiffel Tower - Beautiful flat : 2 rooms,2014-12-14,"Paris, Ile-de-France, France",2,1125,f

In [7]:
#extract the data for the listing_review_stats tables from listings_df, is still missing total reviews
listing_review_stats = listings_df[["listing_id", 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin',
                                   'review_scores_communication','review_scores_location', 'review_scores_value']]
print(len(listing_review_stats))
listing_review_stats.head()

279712

,listing_id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,281420,100.0,10.0,10.0,10.0,10.0,10.0,10.0
1,3705183,100.0,10.0,10.0,10.0,10.0,10.0,10.0
2,4082273,100.0,10.0,10.0,10.0,10.0,10.0,10.0
3,4797344,100.0,10.0,10.0,10.0,10.0,10.0,10.0
4,4823489,100.0,10.0,10.0,10.0,10.0,10.0,10.0

In [8]:
#get the total review count for each listing_id with a review and organize data
#there are listing_ids with no reviews, meaning the null values will need to be changed to 0 after merge
#with listing_review_stats unless there is no review information in the listings_id_df--look at this part of the data
listing_total_reviews = reviews_df['listing_id'].value_counts()
listing_total_reviews = pd.DataFrame(listing_total_reviews)
listing_total_reviews = listing_total_reviews.reset_index()
listing_total_reviews = listing_total_reviews.rename(columns={'listing_id':'total_reviews'})
listing_total_reviews = listing_total_reviews.rename(columns={'index':'listing_id'})
listing_total_reviews = pd.DataFrame(listing_total_reviews)
listing_total_reviews

        listing_id  total_reviews
0         17222007            891
1          8637229            828
2          1249964            796
3         32011332            762
4          2399029            754
...            ...            ...
193551    45914743              1
193552    41929967              1
193553    40561637              1
193554    36333146              1
193555    31037425              1

[193556 rows x 2 columns]

In [9]:
#left join listing_total_reviews with listing_review_stats
listing_review_stats = pd.merge(listing_review_stats,listing_total_reviews,
                                how="left", on="listing_id")
listing_review_stats

,listing_id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,total_reviews
0,281420,100.0,10.0,10.0,10.0,10.0,10.0,10.0,2.0
1,3705183,100.0,10.0,10.0,10.0,10.0,10.0,10.0,6.0
2,4082273,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0
3,4797344,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0
4,4823489,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0
...,...,...,...,...,...,...,...,...,...
279707,38338635,100.0,10.0,10.0,10.0,10.0,10.0,10.0,2.0
279708,38538692,100.0,10.0,10.0,10.0,10.0,10.0,10.0,2.0
279709,38683356,100.0,10.0,10.0,10.0,10.0,10.0,10.0,3.0
279710,39659000,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0
279711,40219504,100.0,10.0,10.0,10.0,10.0,10.0,10.0,2.0

In [10]:
print(listing_review_stats["review_scores_accuracy"].unique())

[10.  9.  8.  4.  7.  6.  5. nan  2.  3.]

In [11]:
#fill the null total_reviews with 0
listing_review_stats["total_reviews"].fillna(0, inplace= True)
#listing_review_stats['total_reviews'].unique()

#rename review columns to be specifically for listings
listing_review_stats = listing_review_stats.rename(columns={'review_scores_rating':'listing_rating', 'review_scores_accuracy':
                                                            'listing_score_accuracy', 'review_score_checkin':'listing_score_checkin',
                                                          'review_scores_communication':'listing_score_communication', 
                                                            'review_scores_cleanliness': 'listing_score_cleanliness',
                                                            'review_scores_location':'listing_score_location','review_scores_value':'listing_score_value'})
#check to verify listing ids are unique (they are)
print(len(pd.unique(listing_review_stats['listing_id'])))
listing_review_stats.head()

279712

,listing_id,listing_rating,listing_score_accuracy,listing_score_cleanliness,review_scores_checkin,listing_score_communication,listing_score_location,listing_score_value,total_reviews
0,281420,100.0,10.0,10.0,10.0,10.0,10.0,10.0,2.0
1,3705183,100.0,10.0,10.0,10.0,10.0,10.0,10.0,6.0
2,4082273,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0
3,4797344,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0
4,4823489,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0

In [12]:
#template code if I want to change floats to ints, null values would need filling

# listing_review_stats[['review_scores_rating', 'review_scores_accuracy', 'review_scores_checkin',
#                     'review_scores_communication','review_scores_location', 'review_scores_value',
#                      'total_reviews']] = listing_review_stats[['review_scores_rating', 'review_scores_accuracy', 'review_scores_checkin',
#                                    'review_scores_communication','review_scores_location', 'review_scores_value',
#                                                               'total_reviews']].astype(int)

## Now move onto the host_review_stats dataframe

In [13]:
#modify the massive listings_df to include the total review data with
#the a left join so that it is easier to get total review data for 
#hosts and host locations

listings_df = pd.merge(listings_df, listing_total_reviews, how = 'left',
                      on='listing_id')
listings_df.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,total_reviews
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,2.0
1,3705183,39 mÂ² Paris (Sacre CÅ“ur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,6.0
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,1.0
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,1.0
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,1.0

In [14]:
#fill the null total_reviews in listings_df with 0
listings_df["total_reviews"].fillna(0, inplace= True)

In [15]:
host_review_stats = listings_df[['host_id', 'review_scores_rating','review_scores_accuracy','review_scores_cleanliness',
                      'review_scores_checkin','review_scores_communication','review_scores_location',
                      'review_scores_value', 'total_reviews']]

In [16]:
#rename columns to specify they are about the host

host_review_stats = host_review_stats.rename(columns={'review_scores_rating':'host_rating', 'review_scores_accuracy':
                                                            'host_score_accuracy', 'review_scores_checkin':'host_score_checkin',
                                                          'review_scores_communication':'host_score_communication', 
                                                      'review_scores_cleanliness': 'host_score_cleanliness',
                                                            'review_scores_location':'host_score_location','review_scores_value':'host_score_value'})
print(type(host_review_stats))
host_review_stats.head()

<class 'pandas.core.frame.DataFrame'>

,host_id,host_rating,host_score_accuracy,host_score_cleanliness,host_score_checkin,host_score_communication,host_score_location,host_score_value,total_reviews
0,1466919,100.0,10.0,10.0,10.0,10.0,10.0,10.0,2.0
1,10328771,100.0,10.0,10.0,10.0,10.0,10.0,10.0,6.0
2,19252768,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0
3,10668311,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0
4,24837558,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0

In [17]:
#see how many host_ids there are
print(len(host_review_stats["host_id"].unique()))
#there are less than listing ids

182024

In [23]:
#try to groupby host_id and average all review scores (via .mean()),
#while summing the total reviews

#works for mean columns, but not summing as well
#test = host_review_stats.groupby('host_id').mean()[['host_rating', 'host_score_accuracy', 'host_score_cleanliness',
#                                                  'host_score_checkin', 'host_score_communication','host_score_location',
#                                                   'host_score_value']].sum()['total_reviews']

KeyError: 'total_reviews'

In [22]:
test.head(50)

,host_rating,host_score_accuracy,host_score_cleanliness,host_score_checkin,host_score_communication,host_score_location,host_score_value
host_id,,,,,,,
1822,90.000000,9.000000,9.000000,10.000000,10.000000,8.000000,9.000000
1944,95.400000,9.700000,9.500000,9.900000,9.900000,9.500000,9.000000
2330,69.333333,7.666667,7.333333,9.666667,9.333333,8.000000,7.000000
2353,91.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000
2438,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2571,98.000000,10.000000,10.000000,10.000000,10.000000,9.000000,10.000000
2626,97.000000,10.000000,8.500000,10.000000,10.000000,10.000000,10.000000
2782,94.500000,9.500000,9.000000,9.500000,10.000000,10.000000,9.500000
2787,95.714286,9.571429,9.571429,10.000000,10.000000,9.571429,9.428571
2827,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
2845,97.000000,9.500000,9.500000,10.000000,10.000000,10.000000,8.500000
2868,80.000000,10.000000,6.000000,10.000000,4.000000,10.000000,10.000000
2881,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
3047,95.500000,9.000000,9.250000,9.750000,9.750000,9.000000,9.250000
3085,97.000000,10.000000,10.000000,10.000000,10.000000,9.000000,10.000000
3280,92.333333,9.000000,9.666667,9.666667,9.666667,9.666667,9.333333
3504,95.333333,9.500000,9.833333,9.666667,10.000000,10.000000,9.500000
3607,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3631,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
3647,97.000000,10.000000,10.000000,10.000000,10.000000,9.500000,9.500000
3754,97.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
3757,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4170,94.000000,10.000000,10.000000,9.000000,9.000000,9.000000,9.000000
4396,91.000000,10.000000,9.000000,9.500000,9.500000,10.000000,9.000000
4869,90.000000,10.000000,9.000000,9.000000,10.000000,10.000000,10.000000
5089,94.000000,9.000000,10.000000,10.000000,10.000000,9.000000,9.000000
6041,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
6792,93.333333,9.444444,9.777778,9.444444,9.444444,9.444444,8.666667
7209,94.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000
7355,100.000000,10.000000,10.000000,10.000000,10.000000,8.000000,10.000000
7356,90.000000,8.000000,8.000000,10.000000,10.000000,9.000000,9.000000
7365,99.666667,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
7490,98.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
7702,96.000000,10.000000,9.000000,10.000000,10.000000,10.000000,10.000000
7903,90.000000,9.000000,9.000000,9.000000,10.000000,10.000000,8.000000
8198,94.000000,10.000000,9.000000,10.000000,10.000000,10.000000,9.000000
8605,90.000000,9.000000,7.000000,10.000000,10.000000,8.000000,8.000000
8703,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
8730,93.000000,9.000000,9.000000,9.000000,9.000000,10.000000,8.000000
8967,84.000000,9.000000,8.000000,9.000000,9.000000,10.000000,9.000000
9412,100.000000,10.000000,9.000000,10.000000,10.000000,10.000000,9.000000
9744,95.333333,10.000000,9.666667,10.000000,10.000000,10.000000,10.000000
10065,90.000000,9.000000,9.000000,10.000000,9.000000,10.000000,9.000000
10135,91.500000,9.500000,9.000000,9.000000,9.500000,10.000000,9.000000
11481,93.666667,10.000000,10.000000,10.000000,10.000000,10.000000,9.666667
11739,94.250000,9.750000,9.500000,10.000000,9.875000,10.000000,9.125000
11756,98.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
11768,100.000000,10.000000,9.000000,10.000000,9.000000,10.000000,10.000000
12220,95.500000,9.500000,9.500000,9.500000,9.500000,10.000000,9.500000
12456,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000